<div class="bg-white p-3" id="about">
  <h2>About this project</h2>

  <p>
    First of all this is <strong>an unofficial Prettier RC file generator</strong>. It's just a prototype of file
    generators as example and a good place to
    <a href="./assets/prettierrc">store my own <code>.prettierrc</code></a> 😂.
  </p>

  <p>
    Please follow the <a href="https://prettier.io/docs/en/configuration.html">Prettier configuration</a> page in order
    to understand or solve any troubleshooting with <code>.prettierrc</code> files or setup.
  </p>

  <p>
    Prettier logo used in header is property of Prettier as well. The schema to build this app is got from
    <a href="http://schemastore.org">schemastore.org</a>
  </p>

  <h3>Who am I?</h3>

  <p>
    My name is Emilio Degiovanni, and I'm a frontend developer. Right now, based on Angular and of course this app it
    has been built using it. It isn't a big project, just born as a simple idea of doing something, and here it is.
  </p>

  <p>
    You can follow me on <a href="https://github.com/emiliodeg">Github</a> or visit
    <a href="https://developtus.com">my personal website</a>
  </p>
</div>
