<div class="btn-group mb-3" role="group" aria-label="Basic example">
  <button (click)="download()" class="btn btn-primary">Download</button>
  <button (click)="copy()" class="btn btn-outline-secondary">Copy to clipboard</button>
</div>

<div *ngIf="isDownloaded" class="alert alert-info">
  Remember rename your file to <code>.prettierrc</code> and store it in your project root folder.
</div>

<div *ngIf="isCopied" class="alert alert-info">
  Your prettierrc json object is in your clipboard. Now, create a new file called <code>.prettierrc</code> in your
  project root folder and then paste as content of it.
</div>

<h3 *ngIf="isDownloaded || isCopied">3. Enjoy your code well formatted! (⌐■_■)</h3>
